{% load static %}

<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="{% static 'images/shirt1.jpg' %}">
            <h4>POSHAX Men Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>2000.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/tshirt3.jpg' %}">
            <h4>ADRO Men's Regular Fit T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>500.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/watch2.jpg' %}">
            <h4>Casio Edifice Analog Black Dia</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1005.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/ladies1.jpg' %}">
            <h4>Leriya Fashion Dress for Women Midi</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>659.00</p>
        </div>
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="{% static 'images/iphone14.jpg' %}">
            <h4>Apple iPhone 14 (128 GB)</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>58999.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/iphone15.jpg' %}">
            <h4>Apple iPhone 15 (128 GB)</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>70999.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/iphone15promax.jpg' %}">
            <h4>Apple iPhone 15 Pro Max</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>148900.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/watch1.jpg' %}">
            <h4>Casio G-Shock</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>18995.0.00</p>
        </div>
    </div>

</div>