
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image</title>
    <link rel="stylesheet" href="{% static 'css/imgstyle.css' %}">
</head>
<body>
   
            <!-- Your image slider content here -->
            <div class="slideshow">
                <img src="{% static 'offerpage5.jpg' %}" alt="Slide 1">
                <img src="{% static 'offerpage2.jpg' %}" alt="Slide 2">
                <img src="{% static 'offerpage3.jpg' %}" alt="Slide 3">
                <img src="{% static 'offerpage4.jpg' %}" alt="Slide 4">
            </div>
   

    
</body>
</html>